<div class="container" >
    <div class="image-container">
        <img [src]="imageUrl" alt="Piggy Bank">
    </div>
    <div class="text-container">
        <h1 class="coink">Coink</h1>
        <div class="description-container">
            <h3 class="description">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</h3>
        </div>
    </div>

    <div class="buttons">
        <div class="button-wrapper">
            <button class="buttonRegistrarse" (click)="registrarse()">REGÍSTRATE</button>
        </div>
        <div class="button-wrapper">
            <button class="buttonIngresa" (click)="iniciarSesion()">INGRESA</button>
        </div>
    </div>
</div>
